[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"

[dev-packages]
coverage = "~=4.5"
codacy-coverage = "~=1.3"

[requires]
python_version = "3.7"
